body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.image{
  height: 370px;
  overflow: hidden;
}

body .ui.cards>.card,
.card{
  width: 270px;
}

body .ui.menu{
  margin: 40px 0;
}

body .ui.menu:first-child{
  margin-top: 40px;
}

.popup {
  max-width: 400px !important;
}